#! /usr/bin/env bash
# Copyright 2022-2024 TII (SSRC) and the Ghaf contributors
# SPDX-License-Identifier: Apache-2.0

#try to use flake initially, fallback to non-flake use otherwise
if nix flake metadata &>/dev/null; then
  use flake
else
  use nix
fi
