# SPDX-FileCopyrightText: 2022-2026 TII (SSRC) and the Ghaf contributors
#
# SPDX-License-Identifier: CC-BY-SA-4.0
# SPDX-License-Identifier: CC0-1.0

result*
!**/result_parser.py
ghaf-host.qcow2
.direnv/
.idea
linux-*/
.serena/
gcroot/
.pre-commit-config.yaml
.aider*
.nixos-test-history
uv-x86_64-unknown-linux-gnu/
__pycache__/
.vscode
plans/
CLAUDE.md

# Ignore VIM backup files (hide them from reuse lint)
*.swp
