# Copyright 2022-2024 TII (SSRC) and the Ghaf contributors
# SPDX-License-Identifier: CC-BY-SA-4.0
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_POSIX_TIMERS=y
CONFIG_PRINTK=y
CONFIG_BASE_FULL=y
CONFIG_VIRTUALIZATION=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_KVM=y
CONFIG_KVM_INTEL=y
CONFIG_KSM=y
CONFIG_LPC_SCH=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_VFIO=y
CONFIG_VFIO_PCI=y
CONFIG_VIRT_DRIVERS=y
CONFIG_VHOST_MENU=y
CONFIG_VHOST_NET=y
CONFIG_VHOST_VSOCK=y
CONFIG_VSOCKETS=y
CONFIG_IRQ_REMAP=y
CONFIG_RANDOM_KMALLOC_CACHES=y
CONFIG_TRIM_UNUSED_KSYMS=n
CONFIG_FAIL_FUTEX=n
CONFIG_FB=n

