// SPDX-FileCopyrightText: 2026 TII (SSRC) and the Ghaf contributors
// SPDX-License-Identifier: Apache-2.0
(
    palette: Dark((
        name: "ghaf-dark",
        bright_red: "#F4535AFF",
        bright_green: "#5AC379FF",
        bright_orange: "#F1784EFF",
        gray_1: "#1A1A1AFF",
        gray_2: "#222222FF",
        neutral_0: "#151515FF",
        neutral_1: "#1A1A1AFF",
        neutral_2: "#222222FF",
        neutral_3: "#2C2C2CFF",
        neutral_4: "#393939FF",
        neutral_5: "#484848FF",
        neutral_6: "#5A5A5AFF",
        neutral_7: "#6E6E6EFF",
        neutral_8: "#858585FF",
        neutral_9: "#9E9E9EFF",
        neutral_10: "#B6B6B6FF",
        accent_blue: "#5B8CF7FF",
        accent_indigo: "#6B6FD1FF",
        accent_purple: "#B368F8FF",
        accent_pink: "#CD5EB6FF",
        accent_red: "#F4535AFF",
        accent_orange: "#F1784EFF",
        accent_yellow: "#FABC3CFF",
        accent_green: "#5AC379FF",
        accent_warm_grey: "#858585FF",
        ext_warm_grey: "#858585FF",
        ext_orange: "#F1784EFF",
        ext_yellow: "#FABC3CFF",
        ext_blue: "#5B8CF7FF",
        ext_purple: "#B368F8FF",
        ext_pink: "#CD5EB6FF",
        ext_indigo: "#6B6FD1FF",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some("#484848FF"),
    bg_color: Some("#1C1C1CFF"),
    primary_container_bg: Some("#242424FF"),
    secondary_container_bg: Some("#2E2E2EFF"),
    text_tint: Some("#E0E0E0FF"),
    accent: Some("#5AC379FF"),
    success: Some("#3D8252FF"),
    warning: Some("#FABC3CFF"),
    destructive: Some("#F4535AFF"),
    frosted: Medium,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: None,
    frosted_windows: false,
    frosted_system_interface: false,
    frosted_panel: false,
    frosted_applets: false,
    alpha_map: (
        extremely_low: 0.9,
        extremely_low_2: 0.87692,
        very_low: 0.85385,
        very_low_2: 0.83076,
        low: 0.80769,
        low_2: 0.78461,
        medium: 0.76154,
        medium_2: 0.73846,
        high: 0.71538,
        high_2: 0.69231,
        very_high: 0.66023,
        very_high_2: 0.64615,
        extremely_high: 0.62308,
        extremely_high_2: 0.6,
    ),
)
