// SPDX-FileCopyrightText: 2026 TII (SSRC) and the Ghaf contributors
// SPDX-License-Identifier: Apache-2.0
(
    palette: Light((
        name: "ghaf-light",
        bright_red: "#C41219FF",
        bright_green: "#217A46FF",
        bright_orange: "#B04A12FF",
        gray_1: "#F5F5F5FF",
        gray_2: "#EBEBEBFF",
        neutral_0: "#FFFFFFFF",
        neutral_1: "#F5F5F5FF",
        neutral_2: "#EBEBEBFF",
        neutral_3: "#E0E0E0FF",
        neutral_4: "#D6D6D6FF",
        neutral_5: "#CCCCCCFF",
        neutral_6: "#BABABAFF",
        neutral_7: "#A8A8A8FF",
        neutral_8: "#8F8F8FFF",
        neutral_9: "#777777FF",
        neutral_10: "#5F5F5FFF",
        accent_blue: "#2559F4FF",
        accent_indigo: "#5C60CCFF",
        accent_purple: "#8A16DEFF",
        accent_pink: "#B5389BFF",
        accent_red: "#C41219FF",
        accent_orange: "#B04A12FF",
        accent_yellow: "#8A6100FF",
        accent_green: "#217A46FF",
        accent_warm_grey: "#796A5AFF",
        ext_warm_grey: "#796A5AFF",
        ext_orange: "#B04A12FF",
        ext_yellow: "#8A6100FF",
        ext_blue: "#2559F4FF",
        ext_purple: "#8A16DEFF",
        ext_pink: "#B5389BFF",
        ext_indigo: "#5C60CCFF",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some("#CCCCCCFF"),
    bg_color: Some("#FAFAFAFF"),
    primary_container_bg: Some("#F0F0F0FF"),
    secondary_container_bg: Some("#E2E2E2FF"),
    text_tint: Some("#2E2E35FF"),
    accent: Some("#217A46FF"),
    success: Some("#3D8252FF"),
    warning: Some("#8A6100FF"),
    destructive: Some("#C41219FF"),
    frosted: Medium,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: None,
    frosted_windows: false,
    frosted_system_interface: false,
    frosted_panel: false,
    frosted_applets: false,
    alpha_map: (
        extremely_low: 0.9,
        extremely_low_2: 0.87692,
        very_low: 0.85385,
        very_low_2: 0.83076,
        low: 0.80769,
        low_2: 0.78461,
        medium: 0.76154,
        medium_2: 0.73846,
        high: 0.71538,
        high_2: 0.69231,
        very_high: 0.66023,
        very_high_2: 0.64615,
        extremely_high: 0.62308,
        extremely_high_2: 0.6,
    ),
)
