// SPDX-FileCopyrightText: 2026 TII (SSRC) and the Ghaf contributors
// SPDX-License-Identifier: Apache-2.0
(
    palette: Light((
        name: "ghaf-light",
        bright_red: (
            red: 0.878,
            green: 0.306,
            blue: 0.294,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.353,
            green: 0.765,
            blue: 0.475,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.969,
            green: 0.627,
            blue: 0.188,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.961,
            green: 0.961,
            blue: 0.961,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.922,
            green: 0.922,
            blue: 0.922,
            alpha: 1.0,
        ),
        gray_3: (
            red: 0.878,
            green: 0.878,
            blue: 0.878,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 1.000,
            green: 1.000,
            blue: 1.000,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.961,
            green: 0.961,
            blue: 0.961,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.922,
            green: 0.922,
            blue: 0.922,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.878,
            green: 0.878,
            blue: 0.878,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.839,
            green: 0.839,
            blue: 0.839,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.800,
            green: 0.800,
            blue: 0.800,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.729,
            green: 0.729,
            blue: 0.729,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.659,
            green: 0.659,
            blue: 0.659,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.561,
            green: 0.561,
            blue: 0.561,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.467,
            green: 0.467,
            blue: 0.467,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.373,
            green: 0.373,
            blue: 0.373,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.357,
            green: 0.698,
            blue: 0.925,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.420,
            green: 0.435,
            blue: 0.820,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.529,
            green: 0.141,
            blue: 0.682,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.804,
            green: 0.369,
            blue: 0.714,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.878,
            green: 0.306,
            blue: 0.294,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.969,
            green: 0.627,
            blue: 0.188,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.945,
            green: 0.902,
            blue: 0.255,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.353,
            green: 0.765,
            blue: 0.475,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.561,
            green: 0.561,
            blue: 0.561,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.561,
            green: 0.561,
            blue: 0.561,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.969,
            green: 0.627,
            blue: 0.188,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.945,
            green: 0.902,
            blue: 0.255,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.357,
            green: 0.698,
            blue: 0.925,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.529,
            green: 0.141,
            blue: 0.682,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.804,
            green: 0.369,
            blue: 0.714,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.420,
            green: 0.435,
            blue: 0.820,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some((
        red: 0.659,
        green: 0.659,
        blue: 0.659,
    )),
    bg_color: Some((
        red: 0.980,
        green: 0.980,
        blue: 0.980,
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: 0.878,
        green: 0.878,
        blue: 0.878,
        alpha: 1.0,
    )),
    secondary_container_bg: Some((
        red: 0.839,
        green: 0.839,
        blue: 0.839,
        alpha: 1.0,
    )),
    text_tint: Some((
        red: 0.102,
        green: 0.102,
        blue: 0.157,
    )),
    accent: Some((
        red: 0.353,
        green: 0.765,
        blue: 0.475,
    )),
    success: Some((
        red: 0.239,
        green: 0.510,
        blue: 0.322,
    )),
    warning: Some((
        red: 0.945,
        green: 0.902,
        blue: 0.255,
    )),
    destructive: Some((
        red: 0.878,
        green: 0.306,
        blue: 0.294,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 3,
    window_hint: None,
)
