# Copyright 2022-2024 TII (SSRC) and the Ghaf contributors
# SPDX-License-Identifier: CC-BY-SA-4.0
CONFIG_DRM=y
CONFIG_PCI=y
# for now i915 is considered generic for many Intel x86_64
# devices, not specific to Lenovo X1 Carbon. Even if not
# generic to all x86_64 - including AMD CPU integrated GPUs.
CONFIG_DRM_I915=y
CONFIG_FB=y
CONFIG_VIRTIO_INPUT=y
