/**
  * SPDX-FileCopyrightText: 2022-2026 TII (SSRC) and the Ghaf contributors
  * SPDX-License-Identifier: CC-BY-SA-4.0
  */

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #102a17;
  --sl-color-accent: #007f3b;
  --sl-color-accent-high: #b3d2b9;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e8f0ec;
  --sl-color-gray-2: #c4ccc8;
  --sl-color-gray-3: #96a79e;
  --sl-color-gray-4: #4d5c54;
  --sl-color-gray-5: #2d3c34;
  --sl-color-gray-6: #141f1a;
  --sl-color-black: #0d1310;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c6decb;
  --sl-color-accent: #005a28;
  --sl-color-accent-high: #0f3c1e;
  --sl-color-white: #0d1310;
  --sl-color-gray-1: #141f1a;
  --sl-color-gray-2: #2d3c34;
  --sl-color-gray-3: #4d5c54;
  --sl-color-gray-4: #809087;
  --sl-color-gray-5: #bcc4c0;
  --sl-color-gray-6: #e8f0ec;
  --sl-color-gray-7: #f4f7f5;
  --sl-color-black: #ffffff;
}
/* Center align images. */
.center-img {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 80px;
}
