# SPDX-FileCopyrightText: 2022-2026 TII (SSRC) and the Ghaf contributors
#
# SPDX-License-Identifier: Apache-2.0

name: check
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
permissions:
    contents: read

jobs:
    run-checks:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
              with:
                  egress-policy: audit

            - name: Checkout
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
              with:
                  persist-credentials: false
            - name: Install nix
              uses: cachix/install-nix-action@456688f15bc354bef6d396e4a35f4f89d40bf2b7 # v31.8.2
            - name: Check .nix formatting
              run: nix fmt -- --fail-on-change
            - name: Check reuse lint
              run: nix develop --command reuse lint
            - name: Check nix flake show runs successfully
              run: nix flake show --all-systems
            - name: Check templates
              run: |
                  set -eux -o pipefail
                  tmp_flakes=$(mktemp -d)
                  cleanup() { rm -rf "$tmp_flakes"; }
                  trap cleanup EXIT
                  nix eval --json --apply builtins.attrNames .#templates | jq -r '.[]' | while IFS=$'\t' read -r name; do
                    nix flake new -t ".#$name" "${tmp_flakes}/${name}";
                    if [[ "$name" == "ghaf-module" ]]; then
                        nix-instantiate --parse "${tmp_flakes}/${name}/default.nix"
                    else
                       nix flake show "${tmp_flakes}/${name}"
                    fi
                  done
