# SPDX-FileCopyrightText: 2022-2023 TII (SSRC) and the Ghaf contributors
#
# SPDX-License-Identifier: Apache-2.0

name: check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Install nix
        uses: cachix/install-nix-action@f0fe604f8a612776892427721526b4c7cfb23aba # v31
      - name: Check .nix formatting
        run: nix fmt -- --fail-on-change
      - name: Check reuse lint
        run: nix develop --command reuse lint
      - name: Check nix flake show runs successfully
        run: nix flake show --all-systems
      - name: Check templates
        run: |
          set -eux -o pipefail
          tmp_flakes=$(mktemp -d)
          cleanup() { rm -rf "$tmp_flakes"; }
          trap cleanup EXIT
          nix eval --json --apply builtins.attrNames .#templates | jq -r '.[]' | while IFS=$'\t' read -r name; do
            nix flake new -t ".#$name" "${tmp_flakes}/${name}";
            if [[ "$name" == "ghaf-module" ]]; then
                nix-instantiate --parse "${tmp_flakes}/${name}/default.nix"
            else
               nix flake show "${tmp_flakes}/${name}"
            fi
          done
