# SPDX-FileCopyrightText: 2022-2026 TII (SSRC) and the Ghaf contributors
#
# SPDX-License-Identifier: Apache-2.0

name: doc
on:
    push:
        branches:
            - main
        paths:
            - "docs/**"
permissions:
    contents: read

jobs:
    deploy:
        name: build doc and deploy to gh pages
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                  egress-policy: audit

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: false
            - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
            - name: build
              run: nix build .#doc --accept-flake-config
            - name: deploy
              uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./result
